<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Smart Resume Analyzer</title>
        <link rel="stylesheet" href="{{ url_for('static_2', path='index.css') }}">
    </head>



    <body>
        <div class="container">
            <h1>-- SMART RESUME ANALYZER --</h1>
            <img src="/static/logo.png" alt="App Logo" />
            <h2>Upload a PDF or DOCX</h2>
            <h4>Note: Please do not upload image-based PDFs (e.g., scanned documents or converted images),
                 as they cannot be processed or read accurately.</h4>
            <form action="/analyze-resume" enctype="multipart/form-data" method="post">
                <input name="file" type="file" accept=".pdf,.docx" required>
                <br>
                <input type="submit" value="Analyze">
            </form>
        </div>
    </body>
</html>
